.headertwo{
    background-color: #232f3e;
    display: flex;


}
.header_location{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-left: 7px;
    flex-wrap: nowrap;

    
}
.headeroptionOne_location{
    color: white;
    font-size: 12px;
   
}
.headeroptionTwo_location{
    color: white;
    font-size: 13px;
    font-weight: 800;
}
.location_icon{
    display: flex;
   margin-top: 4px;
   padding-left: 22px;
   color: white;
   
}
.offer_links
{
    display: flex;
    align-items: center;
    margin-left: 60px;
} 
.offeroption{
    display: flex;
    
    text-decoration: none;
    margin-left: 12px;
    color: white;
   
}
   

.offeroption:hover{
    color: white;
    text-decoration: none;
    border-style: groove;
    border-width: thin;
}
@media (max-width:500px){

    .offeroption{
        font-size: 10px;
    }
    .headeroptionOne_location{
        font-size: 10px;
    }
    .headeroptionTwo_location{
        font-size: 11px;
    }
    }
