.header{
    background-color: #131921;
    display: flex;
    align-items: center;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin-top: 18px;
    margin-right: 20px;
    margin-left: 20px;
    
}
.header_search{
    display: flex;
    flex: 1;
   
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_nav{
    display: flex;

    justify-content: space-between ;
    
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 5px;
}
.header_link{
    color: white;
    text-decoration: none;
   
    
}
.header_option{
   display: flex;
  
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
   
 
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
    align-items: center;
    
}
@media (max-width:800px){
.header_nav{
    flex-direction: column;
}
}