.banner_img{
    width: 100%;
   
    
}
.product_list{
    position: absolute;
    top: 330px;
    left: 30px;
    display: flex;
   
  
}
.product_listRecharge{
    position: absolute;
    top: 330px;
    left: 30px;
    display: flex;
   
  
}



