.banner_img{
    width: 100%;
   
    
}
.product_list{
    position: absolute;
    top: 330px;
    left: 30px;
    display: flex;
   
  
}

@media (max-width: 500px) {
 .product_list{
  display:flex;  
  flex-direction: column;
  margin: 0;
  position: inherit;
  padding: 0;
}
.product_listRecharge{
    margin: 0;
    padding: 0;
}
}
@media all and (max-width:900px) and (min-width:510px){
    .product_list{
        display: flex;
        justify-content: flex-start;
    }
}



